name: ci
on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: test
        env:
          FORCE_COLOR: "true"
        run: make testcover GO_TEST_CMD='gotestsum --'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest'
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true # optional (default = false)

  build-docker:
    name: Build docker image
    runs-on: ubuntu-latest
    if: (!contains(github.event.head_commit.message, 'skip ci'))
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build, but don't push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
          build-args: VERSION=${{ github.sha }}

  config-schema:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: make schema
        run: make config-schema.json

      - name: Git diff
        run: git diff --exit-code

  corpus:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: make corpus-update
        env:
          FORCE_COLOR: "true"
        run: make corpus-update

      - name: Git diff
        run: git diff --exit-code

  go-version:
    runs-on: ubuntu-latest
    name: Check Go version
    steps:
      - uses: actions/checkout@v5

      - name: Compare versions
        run: |
          GO_MOD_MATCH="$(grep --max-count=1 --only-matching --perl-regexp --line-number '^go \K.*' go.mod)"
          GO_MOD_LINE="$(echo "$GO_MOD_MATCH" | cut -d: -f1)"
          GO_MOD_VERSION="$(echo "$GO_MOD_MATCH" | cut -d: -f2)"

          DOCKERFILE_MATCH="$(grep --max-count=1 --only-matching --perl-regexp --line-number '^FROM .*golang:\K[0-9\.]*' Dockerfile)"
          DOCKERFILE_LINE="$(echo "$DOCKERFILE_MATCH" | cut -d: -f1)"
          DOCKERFILE_VERSION="$(echo "$DOCKERFILE_MATCH" | cut -d: -f2)"

          function err() {
            local file="$1"
            local line="$2"
            shift 2
            local msg="$*"
            echo "::error file=$file,line=$line::$msg" >&2
            exit 1
          }

          if [[ -z "$GO_MOD_VERSION" ]]; then
            err go.mod "$GO_MOD_LINE" "Unable to find version in go.mod"
          fi

          if [[ -z "$DOCKERFILE_VERSION" ]]; then
            err Dockerfile "$DOCKERFILE_LINE" "Unable to find version in Dockerfile"
          fi

          if [[ "$GO_MOD_VERSION" != "$DOCKERFILE_VERSION" ]]; then
            err Dockerfile "$DOCKERFILE_LINE" "Version of image does not match Go version in go.mod"
          fi

          echo "OK"
