name: govulncheck

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 8 * * 1 # 08:00 on mondays

permissions: {}

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # 6.1.0
        with:
          go-version-file: go.mod

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
        shell: bash

      - name: Run govulncheck
        id: govulncheck
        run: |
          echo "govulncheck<<GOVULNCHECK_OUTPUT" >> $GITHUB_OUTPUT
          set +e # don't exit on error
          govulncheck ./... 2>&1 | tee --append $GITHUB_OUTPUT
          exit_status=$?
          echo "GOVULNCHECK_OUTPUT" >> $GITHUB_OUTPUT
          exit $exit_status
        shell: bash

      - name: Create GitHub issue
        uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        if: ${{ !cancelled() && steps.govulncheck.conclusion == 'failure' && github.event_name == 'schedule' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOVULNCHECK_OUTPUT: ${{ steps.govulncheck.outputs.govulncheck }}
          ACTION_FULL_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        with:
          filename: .github/issue_govulncheck_template.md
          update_existing: true
